{{define "content"}}

<div class = "container text-center py-10m">
    <h1 class="text-white bg-success">!!Clear!!</h1>
    <h3>{{.NowUser.Name}}さんの得点は{{.NowUser.Score}}点です</h3>
</div>

<div class = 'container text-center w-75'>
    <h4>ランキング</h4>
    <table class = "table">
        <tbody>
        {{range .TopUser}}
            <tr><td>{{.Name}}</td><td>{{.Score}}点</td></tr>
        {{end}}
        </tbody>
    </table>
</div>

<div class = 'container'>
    <a class="btn btn-outline-primary" href="/">もう一度プレイする</a>
</div>

{{end}}
